/* Element */
li {

}

/* class */
.hello {

}

/* id */
#name {

}

/* star- Will select everything on the page */
* {
    border: 1px solid lightgrey;
}

/* Descendant Selector */
li a {
    /* This one, for example, will select all the a tags within an li */
    color: red;
}
/* ul li a{
    This one, for example, will select all the a tags witin a li within an ul
} 
*/

/* Adjacent Selector */
h4 + ul {
    /* This one will select all ul adjacent to a h4 */
    border: 4px solid red;
}

/* Attribute Selector */
a[href="http://www.google.com"] {
    background: blue;
}

input[type="test"] {
    background: blue;
}

/* nth of type Selector */
ul:nth-of-type(3) {
    background: purple;
}

li:nth-of-type(even) {
    background: green;
}